@model AutoCatalog.Models.CarModels

@{
    ViewBag.Title = "Подробно";
}

<h2>Подробно</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CarModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Makes.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Makes.Make)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("К списку моделей", "Index")
</p>
