@model IEnumerable<AutoCatalog.Models.CarModels>

@{
    ViewBag.Title = ViewData["Make"];
}


<h2>Модели</h2>


    <p>
        @Html.ActionLink("Добавить модель", "Create")
    </p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Makes.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarModel)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Makes.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarModel)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
