@model AutoCatalog.Models.Autos

@{
    ViewBag.Title = "Удалить";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>Удалить</h2>

<h3>Вы действительно хотите удалить машину из гаража?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegistryNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistryNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colors.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colors.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Makes.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Makes.Make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CarModels.CarModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CarModels.CarModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.Email)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("К списку машин", "Index")
        </div>
    }
</div>
